h1 {
	font-family: "Gill Sans Ultra Bold", Verdana, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #82A338;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #82a338;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: text-top;
	margin-top: 10px;
	margin-bottom: 2px;
}
h2 {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #557CB0;
	text-transform: uppercase;
	padding-bottom: 0px;
	border-top-width: 2px;
	border-top-style: dashed;
	border-top-color: #557CB0;
	border-right-color: #557CB0;
	border-bottom-color: #557CB0;
	border-left-color: #557CB0;
	margin-bottom: 0px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	line-height: 120%;
	font-weight: normal;
	margin-top: 0px;
	white-space: normal;
}
li {
	font-size: 12px;
	line-height: 120%;
	margin-bottom: 0px;
	margin-top: 0px;
	white-space: normal;
	padding-top: 2px;
	padding-bottom: 0px;
}

.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #333;
	margin-top: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #93bd00;
	text-align: center;
	padding-top: 5px;
}
a:link {
	color: #D8811F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
a:visited {
	color: #636;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
a:hover {
	color: #f00;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

h3 {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #557cb0;
	margin-bottom: 5px;
	margin-top: 0px;
	border-top-color: #000;
	border-top-width: 1px;
	border-top-style: dotted;
}
.box_link:link {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #557cb0;
	text-decoration: none;
}

.box_link:visited {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #557cb0;
	text-decoration: none;
}
.box_link:hover {
	color: #d8811f;
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

.arrow:link {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-weight: bold;
	color: #D8811F;
}
.arrow:visited {
	color: #D8811F;
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-weight: bold;
}


.arrow:hover {
	color: #f00;
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-weight: bold;
}


h4 {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	color: #d8811f;
	font-weight: bold;
	border-top-width: medium;
	border-top-style: none;
	border-top-color: #D8811F;
	border-right-color: #D8811F;
	border-bottom-color: #D8811F;
	border-left-color: #D8811F;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 3px;
	line-height: 120%;
}
.h4_link:link {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #d8811f;
}
.h4_link:hover {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}
.sidebarLeft_hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #F00;
}

.h4_link:visited {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #636;
}



.searchbox {
	float: none;
	width: auto;
}
.sidebarLeft_visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #636;
}

#sidebarLeft {
	float: left;
	width: 120px;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #000;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
h6 {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 100%;
	font-weight: bold;
	font-variant: normal;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
h5 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	color: #000;
}

a.sidebarLeft_link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #d8811f;
	display: block;
	margin-bottom: 10px;
}
.twoColFixRtHdr #container #mainContent #sidebarContent h3 .box_link {
	font-size: medium;
}
.super {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 75%;
	vertical-align: super;
}
.footnote {
	font-size: 75%;
}
.hrfootnote {
	width: 75%;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 2px;
}
.greytext {
	color: #666;
}
.TableFont {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
